<!DOCTYPE html>
<html lang="pt-br">
    <%- include ('./partials/header.ejs');%>
<body> 
    <%- include ('./partials/navbar.ejs');%> 
    <h1>inicio bootstrap</h1>
    
    <%- include ('./partials/footer.ejs');%>
</body>
</html>